.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  display: block;
  width: 92%;
  margin: 20px auto;
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}
